* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #9FA38F;
    gap: 15px;
}

.hero {
    background-color: #9FA38F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: #9FA38F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .collage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.collage .card {
    background-color: white;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
}

img {
    width: 250px;
    height: 280px;
    border-radius: 10px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}